In [25]:
import pandas as pd
ninja=pd.read_csv('studentmarks.csv',squeeze=True)
ninja

      Name  Marks
0    Rajat     70
1   shivam     98
2  parvesh     75
3  bhaskar     50
4  shubham     78
5   rahul      21
6    ankit     67
7     ajay     90
8   roshan      6

In [15]:
pokemon=pd.read_csv('studentmarks.csv',squeeze=True,usecols=["Name"])
pokemon

0      Rajat
1     shivam
2    parvesh
3    bhaskar
4    shubham
5     rahul
6      ankit
7       ajay
8     roshan
Name: Name, dtype: object

In [16]:
pokemon.head()#it gives starting 5 values.you can also give value inside parenthesis in head like if you give 6 it will return first 6 values.

0      Rajat
1     shivam
2    parvesh
3    bhaskar
4    shubham
Name: Name, dtype: object

In [18]:
pokemon.tail()#it gives last 5 values.you can also give value inside parenthesis in tail like if you give 6 it will return last 6 values.

4    shubham
5     rahul
6      ankit
7       ajay
8     roshan
Name: Name, dtype: object

In [20]:
pokemon.is_unique#it provides true when there is no repeated value in the set taken.

True

In [22]:
pokemon.ndim#it provides dimension of your pokemon.

1

In [24]:
pokemon.shape# as there is 9 rows and 1 coloumn

(9,)

In [26]:
ninja.shape# as there is 9 rows and 1 coloumn it only provides column value when column is more than one.

(9, 2)

In [29]:
pokemon.name#it provides the column name of variable.

'Name'