In [4]:
import pandas as pd
o=pd.read_csv('studentmarks.csv',usecols=['Name'],squeeze=True)
o

0      rajat
1     shivam
2    parvesh
3    bhaskar
4    shubham
5     rahul
6      ankit
7       ajay
8     roshan
Name: Name, dtype: object

In [6]:
o[0]

'rajat'

In [7]:
o[0:5]

0      rajat
1     shivam
2    parvesh
3    bhaskar
4    shubham
Name: Name, dtype: object

In [8]:
o[:7]#it gives vlues from 0 to 6 index no.

0      rajat
1     shivam
2    parvesh
3    bhaskar
4    shubham
5     rahul
6      ankit
Name: Name, dtype: object

In [11]:
o[-5:]#it gives last 5 values

4    shubham
5     rahul
6      ankit
7       ajay
8     roshan
Name: Name, dtype: object

In [19]:
o[-5:-2]#it gives last 3 values

4    shubham
5     rahul
6      ankit
Name: Name, dtype: object