In [1]:
import pandas as pd
google=pd.read_csv("dataframe_example.csv")
google

      Name   Subject  credits
0    rajat      math       12
1     ajay   science       10
2   mukesh      math        8
3    rahul   science        9
4   shobna  computer       13
5     aman  computer        5
6      raj   economy        6
7   rajesh   economy       15
8  shubham       bio        2
9    pyush      math        7

In [4]:
google.dtypes

Name       object
Subject    object
credits     int64
dtype: object

In [5]:
google.columns

Index(['Name', 'Subject', 'credits'], dtype='object')

In [7]:
google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
Name       10 non-null object
Subject    10 non-null object
credits    10 non-null int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [8]:
google.get_dtype_counts()

int64     1
object    2
dtype: int64